/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */
}

body {
  width: 400px;
  margin: 0;
  font-family: 'Lucida Grande', 'Segoe UI', 'Tahoma';
}

.select2-container {
  width: 100%;
}

.select2-results {
  max-height: 460px;
}

.select2-result {
  white-space: nowrap;
}

.no-match {
  padding: 3px;
  border: 1px solid #d9534f;
  border-radius: 3px;
  text-align: center;
  background-color: #f2dede;
  color: #d9534f;
}

.tab-icon {
  margin-top: 1px;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  vertical-align: top;
}

.tab-match {
    text-decoration: underline;
}
